@media {
    .gg-arrow-left {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px
    }

    .gg-arrow-left::after, .gg-arrow-left::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 3px
    }

    .gg-arrow-left::after {
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        bottom: 7px
    }

    .gg-arrow-left::before {
        width: 16px;
        height: 2px;
        bottom: 10px;
        background: currentColor
    }
}

@media {
    .gg-arrow-right {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px
    }

    .gg-arrow-right::after, .gg-arrow-right::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        right: 3px
    }

    .gg-arrow-right::after {
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        bottom: 7px
    }

    .gg-arrow-right::before {
        width: 16px;
        height: 2px;
        bottom: 10px;
        background: currentColor
    }
}

@media screen {
    .gg-arrow-up {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px
    }

    .gg-arrow-up::after, .gg-arrow-up::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 4px
    }

    .gg-arrow-up::after {
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        left: 7px
    }

    .gg-arrow-up::before {
        width: 2px;
        height: 16px;
        left: 10px;
        background: currentColor
    }
}

@media screen {
    .gg-browser {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 24px;
        height: 18px;
        border: 2px solid;
        border-radius: 3px
    }

    .gg-browser::after, .gg-browser::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 22px;
        height: 2px;
        background: currentColor;
        top: 4px
    }

    .gg-browser::after {
        border-radius: 3px;
        width: 2px;
        box-shadow: 3px 0 0, 6px 0 0;
        top: 1px;
        left: 1px
    }
}

@media screen {
    .gg-cloud {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 8px;
        height: 2px;
        background: currentColor;
        margin-bottom: -20px
    }

    .gg-cloud::after, .gg-cloud::before {
        content: "";
        display: block;
        position: absolute;
        border: 2px solid;
        box-sizing: border-box;
        bottom: 0
    }

    .gg-cloud::before {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-right: 0;
        left: -6px;
        width: 7px;
        height: 12px
    }

    .gg-cloud::after {
        width: 16px;
        height: 16px;
        border-radius: 100px;
        border-left-color: transparent;
        right: -8px;
        transform: rotate(-45deg)
    }
}

@media screen {
    .gg-drive {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 26px;
        height: 10px;
        border: 2px solid;
        border-radius: 2px
    }

    .gg-drive::after, .gg-drive::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 2px;
        height: 2px;
        border-radius: 10px;
        background: currentColor;
        top: 2px;
        right: 2px
    }

    .gg-drive::before {
        right: 6px
    }
}

@media screen {
    .gg-file-document {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 14px;
        height: 16px;
        border: 2px solid transparent;
        border-right: 0;
        border-top: 0;
        box-shadow: 0 0 0 2px;
        border-radius: 1px;
        border-top-right-radius: 4px;
        overflow: hidden
    }

    .gg-file-document::after, .gg-file-document::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
    }

    .gg-file-document::before {
        background: currentColor;
        box-shadow: 0 4px 0, -6px -4px 0;
        left: 0;
        width: 10px;
        height: 2px;
        top: 8px
    }

    .gg-file-document::after {
        width: 6px;
        height: 6px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        right: -1px;
        top: -1px
    }
}

@media screen {
    .gg-film, .gg-film::after {
        display: block;
        box-sizing: border-box;
        border-radius: 3px
    }

    .gg-film {
        border: 2px solid;
        position: relative;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 18px
    }

    .gg-film::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;
        background: currentColor;
        left: 2px;
        top: 2px;
        box-shadow: 0 4px 0, 0 8px 0, 12px 0 0, 12px 4px 0, 12px 8px 0
    }
}

@media screen {
    .gg-folder {
        transform: scale(var(--ggs,1))
    }

    .gg-folder, .gg-folder::after {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 22px;
        height: 16px;
        border: 2px solid;
        border-radius: 3px
    }

    .gg-folder::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 4px;
        border-bottom: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        top: -5px
    }
}

@media screen {
    .gg-google, .gg-google::before {
        box-sizing: border-box;
        display: block
    }

    .gg-google {
        position: relative;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 20px;
        border: 4px solid;
        border-right-color: transparent;
        border-radius: 22px
    }

    .gg-google::before {
        content: "";
        position: absolute;
        border-top: 4px solid;
        border-right: 4px solid;
        border-bottom: 4px solid;
        border-radius: 0 0 10px 0;
        width: 10px;
        height: 12px;
        right: -4px;
        bottom: -4px
    }
}

@media screen {
    .gg-home {
        background: linear-gradient(to left, currentColor 5px,transparent 0) no-repeat 0 bottom/4px 2px, linear-gradient(to left, currentColor 5px,transparent 0) no-repeat right bottom/4px 2px;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 18px;
        height: 14px;
        border: 2px solid;
        border-top: 0;
        border-bottom: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: -2px
    }

    .gg-home::after, .gg-home::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
    }

    .gg-home::before {
        border-top: 2px solid;
        border-left: 2px solid;
        border-top-left-radius: 4px;
        transform: rotate(45deg);
        top: -5px;
        border-radius: 3px;
        width: 14px;
        height: 14px;
        left: 0
    }

    .gg-home::after {
        width: 8px;
        height: 10px;
        border: 2px solid;
        border-radius: 100px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        left: 3px;
        bottom: 0
    }
}

@media screen {
    .gg-image {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 16px;
        overflow: hidden;
        box-shadow: 0 0 0 2px;
        border-radius: 2px
    }

    .gg-image::after, .gg-image::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
    }

    .gg-image::after {
        transform: rotate(45deg);
        border-radius: 3px;
        width: 16px;
        height: 16px;
        top: 9px;
        left: 6px
    }

    .gg-image::before {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        top: 2px;
        left: 2px
    }
}

@media screen {
    .gg-music, .gg-music::after, .gg-music::before {
        display: block;
        box-sizing: border-box;
        border: 2px solid
    }

    .gg-music {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 0;
        margin-top: -4px;
        position: relative;
        transform: skewY(-15deg) scale(var(--ggs,1));
        width: 14px;
        height: 16px
    }

    .gg-music::after, .gg-music::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        top: 9px;
        left: -7px;
        transform: skewY(15deg);
        border-radius: 10px
    }

    .gg-music::after {
        left: 5px
    }
}

@media screen {
    .gg-shopping-bag {
        transform: scale(var(--ggs,1))
    }

    .gg-shopping-bag, .gg-shopping-bag::after {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-radius: 3px
    }

    .gg-shopping-bag::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 6px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 120px;
        border-top: 0;
        top: 2px;
        left: 3px
    }
}

@media screen {
    .gg-software-upload {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 6px;
        border: 2px solid;
        border-top: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: 8px
    }

    .gg-software-upload::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border-left: 2px solid;
        border-top: 2px solid;
        transform: rotate(45deg);
        left: 2px;
        bottom: 4px
    }

    .gg-software-upload::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        height: 10px;
        background: currentColor;
        left: 5px;
        bottom: 3px
    }
}

@media screen {
    .gg-windows {
        transform: scale(var(--ggs,1))
    }

    .gg-windows, .gg-windows::before {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 17px;
        height: 15px
    }

    .gg-windows::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 6px;
        background: currentColor;
        box-shadow: 8px 0 0,8px 7px 0,0 7px 0;
        transform: perspective(30px) rotateY(-30deg)
    }
}
